body   {
    width: 100wh;
    height: 1280px;
    background: linear-gradient(111deg, #955FBA 10.21%, #CEA2D0 90.49%);
}

.top {
    padding: 146px 172px 148px 172px ;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.left-side {
    width: 788px;
    height: 987px;
    border-radius: 50px 0px 0px 50px;
    background: #F3F4F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-side {
    width: 788px;
    height: 987px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #FFF;
}

.bottom {
    padding: 146px 172px 148px 172px ;
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
}

.left-bottom {
    width: 788px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right-bottom {
    width: 788px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


/* Left side */

.monobank {
    color: #000;
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.jar {
    width: 428px;
    height: 404px;
    flex-shrink: 0;
}

.stanislav {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fond {
    color: #000;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discribtion {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 642px;
}

.already-done {
    flex-direction: row;
    width: 265px;
    height: 103px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
}

.box {

    width: 30px;
    height: 27px;
    flex-shrink: 0;
}

.done {
    width: 193px;
    height: 30px;
    flex-shrink: 0;
    color: #999;

    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.how-much {
    color: #000;

    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Right side */


.money {
    margin: 75px 110px 0px 110px;
    border-radius: 40px;
    border: 5px solid #58B3F8;
    background: #FFF;
}

.money1 {
    font-size: 28px;
    color: #000;
}

.cash0  {
    color: #A7A7A9;
    font-size: 70px;
    font-family: Inter;
}

.work-pew {
    color: #000;
    width: 1px;
    height: 90px;
}

.botton {
    border-radius: 20px;
    border: 3px solid #E5E5E5;
    background: #FFF;
    width: 150px;
    height: 60px;
}

.all-buttons {
    flex-direction: row;
    padding-bottom: 40px ;
}

.button {
    top:50%;
    background-color: #fff;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    border: 3px solid #E5E5E5;
    border-radius:20px;
    padding: 16px 41px 16px 41px ;
    min-height:30px; 
    min-width: 120px;
}

.button:hover {
    background-color:#955FBA;
    color: #ffffff;
    transition: 0.5s;
    cursor: pointer;
}

.form-inf {
        margin-top: 16px ;

}

.inf {
    border-radius: 15px;
    border: 2px solid #ACACAC;
    background: #FFF;
    width: 492px;
    height: 81px;
    flex-shrink: 0;

    color: #878787;
    text-align: left;
    font-family: Roboto;
    font-size: 23px;
    padding-left: 37px;
    margin-top: 24px;

}

/* Mono Pay */
.button-2 {
    cursor: pointer;
    top:50%;
    width: 499px;
    height: 69px;
    flex-shrink: 0;
    background-color: #000;
 
    border-radius:15px;
    min-height:30px; 
    min-width: 120px;
    text-align: center;
    margin-top: 22px;
}

.mono {
    color: #FFF;
    font-size: 29px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* width: 232px; */
    height: 40px;
    flex-shrink: 0;
    text-align: center;
    margin: 18px;
}
.pay-1 {
    background-color: #ffffff;
    color: #000;
    border-radius: 10px;
    width: 75px;
    height: 37px;
    flex-shrink: 0;
    text-align: center;
    padding: 4px 10px ;
}


/* Google Pay */

.google-pay {

} 
.google {
    display: flex;
    text-align: center;
}

.pay-3 {
    color: #ffffff;
    font-family: Roboto;
    font-size: 37px;
    display: flex;
    margin: 0;
}

.paying {
    flex-direction: row;
    margin-top: 50 ;
}

.line   {
    width: 495px;
    height: 1px;
    margin-top: 40px;
}


.card {
    width: 32px;
    height: 27px;
    flex-shrink: 0;
}

.text-card {
    color: #E9625F;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
/* Bottom */

.left-bottom {
    color: #FFF;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 400px;
    text-align: left;
}

.right-bottom {
    
}



.button-3 {
    flex-direction: row;
    top:50%;

    border: 1px solid #FFF;
    border-radius:20px;
    background-color:transparent ;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;


    width: 275px;
    height: 55px;
    flex-shrink: 0;
    min-height:30px; 
    min-width: 120px;
    cursor: pointer;
    padding: 14px 19px;
    justify-content: right;
}

.img-trophy {
    color: url(<path-to-image>), lightgray 50% / cover no-repeat;
    mix-blend-mode: color-dodge;
    width: 28px;
    height: 27px;
    flex-shrink: 0;
}

.img-consol {
    color: url(<path-to-image>), lightgray 50% / cover no-repeat;
    mix-blend-mode: color-dodge;
    width: 32px;
    height: 26px;
    flex-shrink: 0;
}

